body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  cursor: pointer;
}

.smallOffer {
  height: 5em;
  width: auto !important;
  cursor: pointer;
}

.largeOffer {
  background: lightgrey;
  opacity: 0.9;
  position: fixed;
  top: 0;
  left: 0;  
  padding: 0 !important;
  height: 100% !important;
  width: 100% !important;
}

.largeOffer img {
  max-height: 100%;
}

.buttonFixedLeft {
  background: green;
  position: fixed;
  height: 5em;
  margin: 5em;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.buttonFixedRight {
  background: red;
  position: fixed;
  height: 5em;
  margin: 5em;
  bottom: 0;
  right: 0;
  z-index: 1;
}
